#skills {
    margin: auto;
    margin-bottom: 50px;
    width: 40%;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
   
    
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 15px;
    cursor: pointer;
    background-color: aliceblue;
    transition: 0.5s ease;

     &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
     }

    }


.box img {
    height: 75px;
   
}

.htmlInfo{
    margin: auto;
    width: 40%;
    height: 360px;
    border-radius: 15px;
    text-align: center;
    background-color: #E44C25;
    display: none;
}

.htmlInfo i{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}



@media screen and (max-width:768px) {
    
    #skills{
        width: 100%;
        gap: 10px;
    }

    .box{
        
        width: 100px;
        height: 100px;
        flex-wrap: wrap;
    }
    
    .htmlInfo{
        width: 80%;
        margin-bottom: 5px;
    }
  
   


}